<body>

<h1>List Details</h1>

<table>
{{range .lists}}
  <tr>
    <td>{{.ID}}</td>
    <td>{{.Name}}</td>
    <td><a href="/members/lists/{{.ID}}">Details</a></td>
  </tr>
{{end}}
</table>

<a href="/logout">logout</a>

</body>
