<html>
  <title>Free My Lists</title>
  <body>
    <a href='{{ .loginSpotify }}'><button>Login with Spotify</button></a>
    <a href='{{ .loginGoogle }}'><button>Login with Google / YouTube</button></a>
  </body>
</html>
