<body>

<h1>Main</h1>

<table>
  <tr>
    <td>ID</td>
    <td>{{ .userInfo.ID }}</td>
  </tr>
  <tr>
    <td>Name</td>
    <td>{{ .userInfo.Name }}</td>
  </tr>
  <tr>
    <td>Email</td>
    <td>{{ .userInfo.Email }}</td>
  </tr>
</table>

<a href="/members/lists">lists</a>
<a href="/logout">logout</a>

</body>
